.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  max-height: 280px;
  -webkit-app-region: drag;
  position: relative;
  z-index: 1000;
  @media screen and (max-width: 300px) {
    max-width: 200px;
    height: 280px;
  }
}
.container img {
  width: 100%;
  height: auto;
}
