.formContainer {
  position: relative;
}
form {
  width: 100%;
  position: absolute;
  top: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @media screen and (max-width: 300px) {
    gap: 3px;
  }
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(
    to right,
    red,
    orange,
    rgb(101, 101, 4),
    green,
    cyan,
    blue,
    rgb(118, 3, 118)
  );

  /* color: rgb(232, 220, 48); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: large;
  font-weight: bolder;
}
img.crossImg {
  width: 20px;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.emptyContainer {
  height: 20px;
}
.timerInput {
  margin-top: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 14px;
  font-weight: bolder;
  @media screen and (max-width: 300px) {
    margin-top: 8.5%;
  }
}
input {
  border: none;
  outline: none;
  background-color: var(--screen-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: 14px;
  font-weight: bolder;
  width: 24px;
  -webkit-app-region: no-drag;
  box-shadow: 0 0 5px green;
  border-radius: 5px;
}
.timeSegment {
  position: relative;
  display: flex;
  flex-direction: row;
  outline: none;
}
.timeSegment span {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 5px;
  margin-top: 10%;
}

.saveBtn,
.addTimerBtn {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: rgb(91, 123, 91);
  color: rgb(234, 225, 225);
  z-index: 10;
  -webkit-app-region: no-drag;
  cursor: no-drop;
}
.addTimerBtn {
  background-color: rgb(112, 66, 112);
}
.addTimerBtn.available {
  color: cyan;
  background-color: rgb(118, 3, 118);
  cursor: pointer;
}
.saveBtn.available {
  background-color: green;
  cursor: pointer;
}
