.btnContainer {
  position: absolute;
  display: flex;
  gap: 5px;
  flex-direction: row;
  top: 70%;
  left: 23%;
  width: 12%;
}
.btn {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}
.trashBtn {
  width: 23px !important;
  -webkit-app-region: no-drag;
  position: absolute;
  top: 83%;
  left: 45%;
}
