.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 280px;
  -webkit-app-region: drag;
  position: relative;
}
.container img {
  width: 100%;
  height: auto;
}
