.formContainer {
  position: relative;
}
form {
  width: 100%;
  position: absolute;
  top: 21%;
  display: flex;
  flex-direction: column;
  /* gap: 7px; */
  align-items: center;
}
.formFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
label {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* color: rgb(124, 26, 185); */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: large;
  font-weight: bolder;
}
input {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: green;
  font-size: medium;
  font-weight: bolder;
  border: none;
  background: transparent;
  outline: none;
  -webkit-app-region: no-drag;
  z-index: 10;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}
img.crossImg {
  width: 20px;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.saveBtn {
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: green;
  color: rgb(234, 225, 225);
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 10;
  margin-top: 10%;
  -webkit-app-region: no-drag;
  cursor: pointer;
}
